{% extends "base.html" %}
{% block header %}
	{{ super() }}
	<script>
	    $(document).ready(function() {
		var lastUsers = JSON.parse(localStorage.getItem("lastUsers"));
		if (lastUsers != undefined) {
		    lastUsers.sort((a, b) => {
			var an = a.name.toLowerCase();
			var bn = b.name.toLowerCase();
			if (an < bn) {
			    return -1;
			} else if (an == bn) {
			    return 0;
			} else {
			    return 1;
			}
		    });
		    lastUsers.forEach(user => {
			$("#last_users").append(`
					<a class="col-xs-1 box" data-userid="${user.id}" href="${user.url}">
				<div class="boximage" style="background-image: url('${user.imgUrl}');" ></div>
				<div class="boxspan">
				    <span>${user.name}</span>
				</div>
			    </a>
			`);
		    });
		    $("#last_users").css("border-bottom", ".3em solid hsl(222, 71%, 30%)");
		}
	    });
	</script>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12">
		<button class="btn btn-default" data-toggle="modal" data-target="#addusermodal">
			Add user
		</button>
	</div>

    <div id="last_users" class="col-xs-12" style="padding: 0">
    </div>

	{% for u in allusers|sort(attribute='name') %}
	<a id="user_{{ u.id }}" class="col-xs-1 box" data-userid="{{ u.id }}" href="{{ url_for('userpage', id=u.id) }}">
		<div class="boximage" style="{% if u.picture_id %}background-image: url('{{ url_for('get_img', imgid=u.picture_id) }}');{% endif %}" ></div>
		<div class="boxspan">
			<span>{{ u.name }}</span>
		</div>
	</a>
	{% endfor %}
</div>

<div class="modal fade" id="addusermodal" tabindex="-1" role="dialog">
	<form method="POST" action="{{ url_for('api_user_add', ref=url_for('index')) }}">
		<div class="modal-dialog" role="document">
			<div class="modal-content" style="background-color: #222">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Add user</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="username">Name</label>
						<input name="name" id="username" type="text" class="form-control">
					</div>
					<div class="form-group">
						<label for="usermail">Mail</label>
						<input name="mail" id="usermail" type="email" class="form-control">
						<small class="form-text text-muted">Used for gravatar and notifications if you enable them. Feel free to leave it blank.</small>
					</div>
					<div class="form-check">
						<label class="form-check-label">
							<input type="checkbox" name="transaction_mail" class="form-check-input">
							Notify me by mail for every item I buy
						</label>
					</div>
					<div class="form-check">
						<label class="form-check-label">
							<input type="checkbox" name="allow_logging" class="form-check-input" checked>
							Display a history of transactions so I can undo them
						</label>
					</div>
					<div class="form-check">
						<label class="form-check-label">
							<input type="checkbox" name="sort_by_buycount" class="form-check-input" checked>
							Sort items by number of sales, not alphabetically. Only possible if you enable logging
						</label>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Add user</button>
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock %}
