{% extends "base.html" %}
{% from 'macros.html' import loglist %}
{% block title %}: {{ user.name }}{% endblock %}

{% block header %}
	{{ super() }}
	<script>
	    $(document).ready(function() {
		/* Always keep a list of the 6 most recently visited user pages */
		var lastUsers = JSON.parse(localStorage.getItem("lastUsers"));
		if (lastUsers == undefined) {
		    lastUsers = [];
		}
		var userId = {{ user.id }};
		lastUsers = lastUsers.filter(user => user.id != userId);
		if (lastUsers.length >= 6) {
		    lastUsers = lastUsers.slice(lastUsers.length - 5, lastUsers.length);
		}
		lastUsers.push({
		    id: userId,
		    name: "{{ user.name }}",
		    url: "{{ url_for('userpage', id=user.id) }}",
		    imgUrl: "{{ url_for('get_img', imgid=user.picture_id) }}",
		});
		localStorage.setItem("lastUsers", JSON.stringify(lastUsers));
	    });
	</script>
{% endblock %}

{% block content %}
	<div class="userimg col-xs-12 col-sm-3">
		<div class="boximage" style="{% if user.picture_id %}background-image: url('{{ url_for('get_img', imgid=user.picture_id) }}');{% endif %}" ></div>
	</div>
	<div class="col-xs-12 col-sm-7" style="margin-bottom: 20px">
		<div style="margin-bottom: 40px"><h3 style="display: inline; margin-right: 20px;">{{ user.name }}</h3><button class="btn btn-default" data-toggle="modal" data-target="#usersettingsmodal">User settings</button></div>
		<div>
			<span id="userbalance" data-level="{% if (user.balance < -2000) %}bad{% elif (user.balance < 0) %}negative{% elif (user.balance < 2000) %}positive{% else %}great{% endif %}">{{ user.balance|euro }}</span>
			<button id="userbalanceedit" class="btn btn-default" style="margin-left: 10px;">Edit</button>
			<button id="userbalanceeditrelativ" class="btn btn-default" >+/-</button>
			<button id="usertransfer" class="btn btn-default" data-toggle="modal" data-target="#transfermodal">Transfer to user</button>
		</div>
		<script>
			var changebalancecall = function(value) {
				jQuery.ajax({
					method: "POST",
					dataType: "text",
					data: { 'newbalance': value },
					url: "{{ url_for('api_user_balance', name=user.name) }}",
					success: function (data) {
						window.location = "{{ url_for('userpage', name=user.name) }}"
					}
				});
			}
			$("#userbalanceedit").click(
				function () {
					var rawinput = prompt("New balance:",$("#userbalance").text().replace("€",""));
					if (rawinput != null) {
						var newbalance = Math.round(parseFloat(rawinput.replace(',','.'))*100);
						changebalancecall(newbalance)
					}

				}
			);
			$("#userbalanceeditrelativ").click(
				function () {
					var rawinput = prompt("Relative change of balance (use a '-' as prefix for a decrease, use '+' or nothing as prefix for an increase:", "0.00");
					if (rawinput != null) {
						var oldbalance = Math.round(parseFloat($("#userbalance").text().replace("€",""))*100)
						var relativechange = Math.round(parseFloat(rawinput.replace(',','.'))*100)
						var newbalance = oldbalance + relativechange;
						changebalancecall(newbalance)
					}

				}
			);
		</script>
		<div>
			<h4 id="userlog">log:</h4>
		</div>
		<div id="userlogdiv" style="overflow-y: scroll; max-height: 18em;">
			{{ loglist(log, user) }}
		</div>
	</div>



	{% if user.sort_by_buycount %}
		{% set sorteditems = items|sort(attribute='name')|sort(attribute='buycount', reverse=True) %}
	{% else %}
		{% set sorteditems = items|sort(attribute='name') %}
	{% endif %}
	{% for g in groups %}
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#group_{{g.id}}" aria-expanded="false">
					<h4 class="panel-title">
						{{ g.name }}
					</h4>
				</a>
			</div>
			<div id="group_{{ g.id }}" class="panel-collapse collapse in">
				<div class="panel-body row">
					{% for i in sorteditems if i.group_id == g.id %}
					<a href="{{ url_for('api_user_buy', name=user.name, itemid=i.id, ref=url_for('userpage', name=user.name)+'#item_' + i.id|string) }}" id="item_{{i.id}}" class="box col-xs-1 buylink" data-itemid="{{ i.id }}" data-count="0" data-ajaxrunning="0" data-infotimeout="0" style="height: 180px;">
						<div class="boximage" style="background-image: url('{{ url_for('get_img', imgid=i.picture_id) }}'); text-align: center;">
							<!-- status --!>
						</div>
						<div class="boxspan">
							<span>{{ i.name }}</span>
							<span>{{ i|itemprice|euro }}</span>
						</div>
					</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	{% endfor %}

<div class="modal fade" id="transfermodal" tabindex="-1" role="dialog">
	<form method="POST" action="{{ url_for('api_user_transfer', sender=user.name, ref=url_for('userpage', id=user.id)) }}">
		<div class="modal-dialog" role="document">
			<div class="modal-content" style="background-color: #222">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Transfer money to user</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">

					</div>

					<div class="form-group">
						<label for="transferusername">Recipient</label>
						<input name="recipient" list="users" id="transferusername" type="text" class="form-control">
						<datalist id="users">
							{% for u in users if u.deleted==0 %}
							<option>{{ u.name }}</option>
							{% endfor %}
						</datalist>
					</div>
					<div class="form-group">
						<label for="transferamount">Amount (€)</label>
						<input name="amount" id="transferamount" type="number" step="0.01" class="form-control" value="0.00">
					</div>
					<div class="form-group">
						<label for="transferreason">Reason</label>
						<input name="reason" id="transferreason" type="text" class="form-control">
						<small class="form-text text-muted">A reason for the transfer, optional.</small>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Transfer</button>
				</div>
			</div>
		</div>
	</form>
</div>


<div class="modal fade" id="usersettingsmodal" tabindex="-1" role="dialog">
	<form method="POST" action="{{ url_for('api_user_edit', name=user.name, ref=url_for('userpage', id=user.id)) }}">
		<div class="modal-dialog" role="document">
			<div class="modal-content" style="background-color: #222">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Edit user</h4>
				</div>
				<div class="modal-body">
					<input type="hidden" name="userid" value="{{ user.id }}">
					<div class="form-group" style="padding: 20px;">
						<input type="hidden" name="picture_id" id="userpicture_id" value="{{ user.picture_id|d(-1) }}">
						<a style="cursor: pointer;" data-toggle="modal" data-target="#pictureselect">
							<div class="userimg">
								<div class="boximage" style="background-color: #666; background-image: url('{{ url_for('get_img', imgid=user.picture_id|d(-1)) }}');">
								</div>
							</div>
						</a>
						<div>
							<span>Click on the image to change it</span>
						</div>
					</div>
					<div class="form-group">
						<label for="username">Name</label>
						<input name="name" id="username" type="text" class="form-control" value="{{user.name}}">
					</div>
					<div class="form-group">
						<label for="usermail">Mail</label>
						<input name="mail" id="usermail" type="email" class="form-control" value="{{user.mail}}">
						<small class="form-text text-muted">Used for gravatar and notifications if you enable them. Feel free to leave it blank.</small>
					</div>
					<div class="form-check">
						<label class="form-check-label">
							<input type="checkbox" name="transaction_mail" class="form-check-input" {% if user.transaction_mail != 0 %}checked{% endif %}>
							Notify me by mail for every item I buy
						</label>
					</div>
					<div class="form-check">
						<label class="form-check-label">
							<input type="checkbox" name="allow_logging" class="form-check-input" {% if user.allow_logging != 0 %}checked{% endif %}>
							Display a history of transactions so I can undo them
						</label>
					</div>
					<div class="form-check">
						<label class="form-check-label">
							<input type="checkbox" name="sort_by_buycount" class="form-check-input" {% if user.sort_by_buycount != 0 %}checked{% endif %}>
							Sort items by number of sales, not alphabetically. Only possible if you enable logging
						</label>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal fade" id="pictureselect" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content" style="background-color: #222">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Select image</h4>
			</div>
			<div class="modal-body" style="padding: 0px;">
				<iframe onload="resizeIframe(this)" src="{{ url_for('api_img_add', imgid=user.picture_id|d(-1)) }}" style="border: none; width: 100%; height: 100%; min-height: 600px;"></iframe>
			</div>
		</div>
	</div>
</div>

<script>
var balance_xhr;
var log_xhr;
$(".buylink").click(
	function(e) {
		e.preventDefault();
		var aele = $(this);
		aele.data('count', aele.data('count') + 1);
		aele.data('ajaxrunning', aele.data('ajaxrunning') + 1);

		var updateitem = function (container, failed) {
			var str = '<span style="line-height: 100px; font-size: 20px; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; background-color: black; padding-left: 10px; padding-right: 10px" class="'
			if (failed) {
				str += 'glyphicon glyphicon-alert '
			} else {
				if (aele.data('ajaxrunning') == 0) {
					str += 'glyphicon glyphicon-ok '
				} else {
					str += 'glyphicon glyphicon-cog '
				}

			}
			if (aele.data('ajaxrunning') == 0) {
				clearTimeout(aele.data("infotimeout"));
				aele.data("infotimeout", setTimeout(function() {
					aele.data('count',0);
					$("span",container).fadeOut("slow");
				}, 2500));
			}
			str += '"> '
			str += "" + aele.data('count') - aele.data('ajaxrunning') +'/' + aele.data('count');
			str += '</span>'

			$(container).html(str);
		}
		clearTimeout(aele.data("infotimeout"));

		jQuery.ajax({
			method: "GET",
			dataType: "text",
			url: this.href,
			data: {'noref': 1},
			success: function (data) {
				var ajaxrunning = aele.data('ajaxrunning') - 1;
				aele.data('ajaxrunning', ajaxrunning);
				updateitem($('.boximage', aele),false);

				//reload balance
				if(balance_xhr && balance_xhr.readyState != 4){
					balance_xhr.abort();
				}
				balance_xhr = jQuery.ajax({
					method: "GET",
					dataType: "text",
					url: "{{ url_for('api_user_balance', name=user.name) }}",
					data: {"formatted": 1},
					success: function (data) {
						$("#userbalance").text(data);
					}
				});
				// reload log
				if(log_xhr && log_xhr.readyState != 4){
					log_xhr.abort();
				}
				log_xhr = jQuery.ajax({
					method: "GET",
					dataType: "text",
					url: "{{ url_for('api_user_log', name=user.name) }}",
					success: function (data) {
						$("#userlogdiv").html(data);
					}
				});


			},
			error: function() {
				aele.data('count', aele.data('count') -1);
				aele.data('ajaxrunning', aele.data('ajaxrunning') -1);
				updateitem($('.boximage', aele),true);
			}
		});
		updateitem($('.boximage', aele),false);
	}
);
function resizeIframe(obj){
	obj.style.height = 0;
	obj.style.height = Math.min(obj.contentWindow.document.body.scrollHeight, screen.height*0.8) + 'px';
}
window.onmessage = function(e){
	$(".userimg > div").css("background-image", "url('{{ url_for('get_img' ) }}" + e.data + "')");
	$("#userpicture_id").val(e.data);
	$('#pictureselect').modal('hide');
	$('#usersettingsmodal').modal('show');
};
</script>

{% endblock %}
